<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title> Data from QR-code </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content
  [fullscreen]="true"
  [style.--background]="scanActive?'#00000000':'#ffffff'">
  
    <H1>Maklumat ketua keluarga</H1>

      <form [formGroup]="mainForm" >
      <ion-item>
        <ion-label position="floating">
          <ion-icon item-left name="person-circle"></ion-icon>
          Nama
        </ion-label>
        <ion-input formControlName="nama" value="{{nama}}" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">
          <ion-icon item-left name="card" ></ion-icon>
          No KP/IC (010101-01-0101)
        </ion-label>
        <ion-input formControlName="nokp" value="{{nokp}}" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">
          <ion-icon item-left name="cash"></ion-icon>
          Gaji/Pendapatan
        </ion-label>
        <ion-input formControlName="pendapatan" value="{{pendapatan}}" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-button color="primary" (click)="tambahOrang()">Simpan &nbsp;
          <ion-icon name="save-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="startScanner()" [hidden]="scanActive" color="secondary">
          <ion-icon name="scan-outline"></ion-icon>
          SCAN QR-DATA
        </ion-button>
      </ion-item>
    </form>

  
  <ion-row class="scan-button" [hidden]="!scanActive">
    <ion-col class="ion-no-padding">
      <ion-button expand="full" (click)="stopScanner()">Stop</ion-button>
    </ion-col>
  </ion-row>
  <div class="scan-box" [hidden]="!scanActive"></div>
  
</ion-content>